.navbar {
  background-color: #007bff; /* Cor de fundo da Navbar */
  padding: 10px; /* Espaçamento interno */
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
}

ul {
  list-style-type: none; /* Remova os pontos da lista */
  margin: 0;
  padding: 0;
  display: flex; /* Faça com que os itens da lista fiquem em linha */
}

li {
  margin: 0 10px; /* Espaçamento entre os itens da lista */
}

a {
  text-decoration: none;
  color: #fff; /* Cor do texto dos links */
}
